<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

    <context:property-placeholder location="classpath:musicPlayer.properties"/>

    <bean id="classicalMusicBean"
          class="pav.zar.springlearning.ClassicalMusic">
    </bean>

    <bean id="rockMusicBean"
          class="pav.zar.springlearning.RockMusic">
    </bean>

    <bean id="hipHopMusicBean"
          class="pav.zar.springlearning.HipHopMusic">
    </bean>

    <bean id="musicPlayer"
          class="pav.zar.springlearning.MusicPlayer" scope="prototype">
        <property name="music" ref="classicalMusicBean"/>
        <property name="name" value="${musicPlayer.name}"/>
        <property name="volume" value="${musicPlayer.volume}"/>

        <property name="musicList">
            <list value-type="pav.zar.springlearning.Music">
                <ref bean="rockMusicBean"/>
                <ref bean="classicalMusicBean"/>
                <ref bean="hipHopMusicBean"/>
            </list>
        </property>

    </bean>


</beans>